body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1, label {
    color: #333;
    font-weight: bold;
}

#form-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    display: inline-block;
    text-align: left;
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #fafafa;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
}

option {
    padding: 10px;
    background-color: white;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

#rate-display {
    margin-top: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    color: #333;
    display: block;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    color: #333;
    font-weight: bold;
}

.info-icon {
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
    cursor: help;
}

